/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - ELEMENT - BUTTON */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - ELEMENT - TABLE */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - TRANSITION */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - COLORS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - COMPONENT */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - FORM STATES AND ALERTS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - LIST GROUP */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
#div__index_dev_mongodb-queryTester {
  font-size: 13px;
  width: 100%;
  height: 100%;
}
#div__index_dev_mongodb-queryTester .div-top {
  width: 100%;
  height: 25px;
}
#div__index_dev_mongodb-queryTester .div-top select {
  height: 25px;
}
#div__index_dev_mongodb-queryTester .div-bottom {
  display: inline-flex;
  position: absolute;
  bottom: 0px;
  top: 25px;
  width: 100%;
}
#div__index_dev_mongodb-queryTester .editor-tree-list {
  height: 98%;
}
#div__index_dev_mongodb-queryTester .editor-tree-list #tree-dbs_cols {
  height: 98%;
}
#div__index_dev_mongodb-queryTester .editor-tree-list #tree-dbs_cols span {
  font-size: 11px;
}
#div__index_dev_mongodb-queryTester .editor-left {
  width: 100%;
  height: 98%;
}
#div__index_dev_mongodb-queryTester .editor-left #queryTester_src {
  font-size: 13px;
  width: 100%;
  height: 98%;
}
#div__index_dev_mongodb-queryTester .editor-right {
  width: 100%;
  height: 98%;
}
#div__index_dev_mongodb-queryTester .editor-right .result-count {
  color: #f00;
}
#div__index_dev_mongodb-queryTester .editor-right #queryTester_des {
  font-size: 13px;
  width: 100%;
  height: 98%;
}
