/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - ELEMENT - BUTTON */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - ELEMENT - TABLE */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - TRANSITION */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - COLORS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - COMPONENT */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - FORM STATES AND ALERTS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - LIST GROUP */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
#div__test_Menu {
  /*/
	height: 2000px;

	//*/
  border: solid 1px #000;
  color: #000;
  position: fixed;
  left: 5px;
  top: 5px;
  bottom: 5px;
  right: 5px;
}
#div__test_Menu #div__testMenu_Top {
  border: solid 1px #000;
  padding: 5px 5px;
  left: 10px;
  top: 10px;
  right: 10px;
  display: block;
  position: fixed;
}
#div__test_Menu #div__test_Menu_List {
  /*/
		border: @border_solid_1px_000000;

		position: absolute;
		position: relative;
		//*/
  color: #000;
  font-size: 11px;
  border: solid 1px #000;
  display: block;
  position: absolute;
  padding: 5px 5px;
  left: 5px;
  top: 35px;
  bottom: 5px;
  width: 250px;
  line-height: 20px;
  overflow: auto;
  overflow-x: hidden;
}
#div__test_Menu #div__test_Menu_List a {
  cursor: pointer;
  display: block;
  role: button;
}
#div__test_Menu #div__test_Menu_List a:hover {
  text-decoration: underline;
  color: red;
}
#div__test_Menu #div__test_Menu_List a:link {
  text-decoration: none;
  color: #333333;
}
#div__test_Menu #div__test_Menu_List a:visited {
  text-decoration: underline;
  color: #333333;
}
#div__test_Menu #div__test_Menu_List a:active {
  text-decoration: none;
  color: #333333;
}
#div__test_Menu #div__test_Menu_List hr {
  width: 170px;
}
#div__test_Menu #div__test_Menu_List .complete {
  color: #0000FF;
}
#div__test_Menu #div__test_Menu_List .inComplete {
  color: #FF0000;
}
#div__test_Menu #div__test_Menu_UIContainer {
  /*/
		border: @border_solid_1px_000000;
		position: absolute;
		position: relative;
		//*/
  color: #000;
  font-size: 13px;
  border: solid 1px #000;
  display: block;
  position: absolute;
  padding: 5px 5px;
  left: 272px;
  top: 35px;
  bottom: 5px;
  right: 5px;
  overflow-x: auto;
  overflow-y: auto;
}
#test__selector {
  display: inline-grid;
}
