/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - ELEMENT - BUTTON */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - ELEMENT - TABLE */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - TRANSITION */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - COLORS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - COMPONENT */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - FORM STATES AND ALERTS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - LIST GROUP */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* Tables - TBody */
/* ---------------------------------------------------------------------------------------------------- */
tbody tr {
  cursor: pointer;
}
tbody tr:nth-child( even ) {
  background-color: #FFF;
}
tbody tr:nth-child( even ) input {
  background-color: #FFF;
}
tbody tr:nth-child( even ) textarea {
  background-color: #FFF;
}
tbody tr:nth-child( odd ) {
  background-color: #EEE;
}
tbody tr:nth-child( odd ) input {
  background-color: #EEE;
}
tbody tr:nth-child( odd ) textarea {
  background-color: #EEE;
}
tbody tr:hover {
  background-color: #0FB4C3;
}
tbody tr:hover input {
  background-color: #0FB4C3;
}
tbody tr:hover textarea {
  background-color: #0FB4C3;
}
