/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - ELEMENT - BUTTON */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - ELEMENT - TABLE */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - TRANSITION */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - COLORS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - COMPONENT */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - FORM STATES AND ALERTS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - LIST GROUP */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* Tables */
/* ---------------------------------------------------------------------------------------------------- */
/**
 * 테이블 요소 사이의 간격을 제거
 */
table {
  border-collapse: collapse;
  border-spacing: 0px;
  border-bottom: 1px solid #dfdce3;
}
tbody {
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
thead {
  text-align: center;
}
td,
th {
  font-size: 13px;
  font-weight: normal;
  height: 30px;
  text-align: center;
  padding: 2px 2px;
}
td {
  /*/
	border: @border_solid_05px_000000;
	border: @border_solid_1px_000000;
	border: @border_solid_1px_000000;
	//*/
  /*/
	border-top-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	//*/
  /*/
	border-bottom: @td__borderBottom;
	border-left: @td__borderLeft;
	border-right: @td__borderRight;
	border-top: @td__borderTop;
	//*/
  border-bottom: solid 1px #ebe9ee;
  border-left: solid 1px #dfdce3;
  border-right: solid 1px #dfdce3;
}
th {
  /*/
	border-bottom: 1px solid #4e4765;
	border-left: 1px solid #4e4765;
	border-right: 1px solid #4e4765;
	border-top: 1px solid #4e4765;
	//*/
  border-bottom: solid 1px #ebe9ee;
  border-left: solid 1px #dfdce3;
  border-right: solid 1px #dfdce3;
  border-top: solid 1px #ebe9ee;
}
