/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - ELEMENT - BUTTON */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - ELEMENT - TABLE */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - TRANSITION */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - COLORS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - COMPONENT */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - FORM STATES AND ALERTS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - LIST GROUP */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
#div-websocket-message-admin {
  border: solid 1px #000;
border-radius: 0px;

//display: inline-table;

position: absolute;

padding: 0px 0px 10px 0px;

background-color: #fff;
  border-radius: 0px;
  color: #000;
  display: block;
  font-size: 13px;
  height: auto;
  line-height: 20px;
}
#div-websocket-message-admin .div-content {
  padding: 20px;
  left: 10px;
  right: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
#div-websocket-message-admin .div-content > .section-btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#div-websocket-message-admin .div-content > .section-btns > * {
  margin-left: 5px;
}
#div-websocket-message-admin .div-content > .section-btns > .input-time-random_loop {
  width: 100px;
}
#div-websocket-message-admin .div-content > fieldset {
  background: #F3F3F3;
  border: 1px solid #c0c0c0;
  margin-right: 10px;
  padding: 0 10px;
}
#div-websocket-message-admin .div-content > fieldset legend {
  background: #3E3E3E;
  color: #fff;
  font-size: 13px;
  padding: 2px 5px;
}
#div-websocket-message-admin .div-content > fieldset > .section-input {
  width: 100%;
  height: 100%;
}
#div-websocket-message-admin .div-content > fieldset > .section-input > .textarea-input {
  width: 100%;
  height: 100%;
  margin: 10px;
}
