/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - ELEMENT - BUTTON */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - ELEMENT - TABLE */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* DEFINE - TRANSITION */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - COLORS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - COMPONENT */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - FORM STATES AND ALERTS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* BOOTSTRAP 3.3.7 - LIST GROUP */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/*	UI Container - TitleBar */
/* ---------------------------------------------------------------------------------------------------- */
.titleBar-FullSizeModalPanel {
  background-color: #3E3E3E;
  cursor: pointer;
  display: flex;
  text-align: center;
  padding: 15px;
}
.titleBar-FullSizeModalPanel button {
  cursor: pointer;
  background: 0 0;
  border: 0;
  color: #F3F3F3;
  opacity: 0.8;
}
.titleBar-FullSizeModalPanel button:hover {
  opacity: 1;
}
.titleBar-FullSizeModalPanel .btn_Close {
  font-size: 20px;
  line-height: 1;
  padding: 0;
}
.titleBar-FullSizeModalPanel .title {
  color: #F3F3F3;
  font-size: 20px;
  pointer-events: none;
  width: 100%;
}
